#RightSidebar_box{
    width: 82%;
    height: 864px;
    /*border: 1px solid black;*/
}

/*地图盒子*/
.Map_box {
    width: 80%;
    height: 500px;
    margin-left: 10%;
    margin-top: 20px;
    background-color: #3A7734;
}

.bm-view {
  width: 100%;
  height: 100%;
}

.dot {
  width: 16px;
  height: 16px;
  background-color: #3A77F3; /* ✅ 自定义颜色 */
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

/*传感器信息盒子*/
.sensor_information_box {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    /*background-color: #3B666B;*/
    border-top: 1px solid #d8d3d3;
    display: flex;
}

/*gps传感器信息盒子*/
.gps_information_box {
    width: 40%;
    height: 300px;
    /*background-color: #3B666B;*/
    border-right: 1px solid #d8d3d3;
}

/*激光雷达信息盒子*/
.lidar_information_box {
    width: 60%;
    height: 300px;
    /*background-color: #3B666B;*/
}